* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #000;
  color: #fff;
}

/* HEADER */
header {
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid red;
}

header h1 {
  color: red;
}

/* 🔥 BANNER COM VÍDEO */
.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* 🎥 VÍDEO DE FUNDO */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* 🔴 TEXTO CENTRAL */
.overlay {
  position: relative;
  z-index: 1;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  background: rgba(0,0,0,0.5);
  padding: 20px;
}

.overlay h2 {
  font-size: 60px;
}

.overlay h3 {
  font-size: 40px;
  color: red;
}

.overlay p {
  margin: 10px 0;
}

.overlay button {
  padding: 12px 25px;
  border: none;
  background: red;
  color: white;
  cursor: pointer;
}

/* DESCRIÇÃO */
.descricao {
  padding: 60px;
  text-align: center;
}

/* PERFORMANCE */
.performance {
  padding: 60px;
  background: #111;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.grid div {
  background: #222;
  padding: 20px;
  border-radius: 10px;
}

/* TECNOLOGIA */
.tecnologia {
  padding: 60px;
  text-align: center;
}

/* CTA */
.cta {
  padding: 80px;
  text-align: center;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  border-top: 2px solid red;
}

/* VÍDEO EXTRA */
.video {
  padding: 60px;
  text-align: center;
  background: #000;
}

.video h2 {
  margin-bottom: 20px;
}

.video video {
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
}

.overlay h2 {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;

  text-shadow: 
    0 0 10px rgba(255,0,0,0.7),
    0 0 20px rgba(255,0,0,0.5);
}

.overlay h3 {
  font-size: 32px;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: red;

  margin-top: 10px;

  position: relative;
}

/* Linha estilizada abaixo */
.overlay h3::after {
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  background: red;
  margin: 10px auto 0;
}

.galeria {
  padding: 60px;
  text-align: center;
}

.grid-img {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-img img {
  width: 300px;
  border-radius: 10px;
  transition: 0.3s;
}

.grid-img img:hover {
  transform: scale(1.05);
}