
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #111;
  color: #fff;
}


.hero {
  position: relative;
  height: 60vh; /* vídeo menor */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 2;
}

.hero-content h1 {
  font-size: 48px;
  color: red;
}

.hero-content p {
  margin: 15px 0;
  font-size: 18px;
}

/* BOTÃO */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background: red;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #cc0000;
}

/* CATÁLOGO */
.container {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

/* CARDS */
.card {
  background: #1c1c1c;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 220px; /* imagem maior */
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h2 {
  color: red;
  margin-bottom: 10px;
}