
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;
    background-color: #a19f9f;
    color: rgb(7, 7, 7);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #e60000;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #e60000;
}
.btn-login {
    padding: 8px 18px;
    border: none;
    background-color: #e60000;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #ff1a1a;
}


.carrosel{
width:100%;
height:400px;
position:relative;
}

.slide{
position:absolute;
width:100%;
height:100%;
opacity:0;
transition:opacity 1s;
}

.slide.active{
opacity:1;
}

.slide img{
width:100%;
height:100%;
object-fit:cover;
}